{% extends 'navigationbar.html' %}

{% block title %} About Page {% endblock title %}


{% block body %}


<div class="container p-5 d-flex justify-content-center">
  <div class="col-md-12 p-4 rounded bg-secondary bg-gradient text-white border border-dark">
       <h5 class="p-2 bg-primary bg-gradient text-center rounded border border-white"; style="font-family:georgia">ABOUT</h5>

       <div class="text-center">

          <div class="p-3">
            <h5 style="font-family:georgia">WELCOME TO GYM MANAGEMENT SYSTEM</h5>
            <p style="font-family:courier"> " We Want To Help You Feel Great & Look Your Very Best. " </p>
          </div>

          <p style="font-family:georgia">
            Gym management systems instruct people from every facet of life,
            with qualified trainers available to assist people attain realistic goals.
          </p>

          <h3 style="font-family:serif" >--------------- ,, ---------------</h3>

          <p style="font-family:courier">
            " You can't look like anybody else, but you can get to know your own body type,
            work from the inside out, and with consistency and perseverance you will look and feel
            your best in no time. "
          </p>

          <h3 style="font-family:serif" >--------------- ,, ---------------</h3>

          <p style="font-family:georgia">
            It is imperative to find the right exercise routine that serves what you are
            looking for - one that works specifically for your body type - and the food you
            eat must not be a monotonous diet that you have picked out of a magazine, but a varied
            routine that you look forward to each morning. Body Image creates customised food
            plans (not diets) for each client based on their needs, requirements, and lifestyles -
            the goal is for clients to understand that the most important thing about correct eating
            is what to eat, when to eat it, how much to eat, and in what combination.
          </p>

       </div>


  </div>
</div>

{% endblock body %}