{% extends 'navigationbar.html' %}

{% block title %} Add Trainers {% endblock title %}


{% block body %}

       {% with messages=get_flashed_messages(with_categories=true) %}
       {% if messages %}
       {% for category, message in messages %}

       <div class="alert alert-{{category}} alert-dismissible show" role="alert">
         <strong>{{message}}</strong>

           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
           </button>
       </div>

       {% endfor %}
       {% endif %}
       {% endwith %}

<div class="container p-5 d-flex justify-content-center">
  <div class="col-md-8 p-5 rounded bg-secondary bg-gradient text-white border border-dark">
       <h5 class="p-2 bg-primary text-center rounded border border-white"; style="font-family:georgia" >Add Trainers</h5>
    <br>

    <form action="/addtrainers" method="post">
        <div class="mb-2">
        <label class="form-label">Trainer Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name" required>
        </div>
        <div class="mb-2">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-2">
        <label class="form-label">Contact</label>
        <input type="text" name="contact" class="form-control" placeholder="Contact" required>
        </div>
        <div class="mb-2">
        <label class="form-label">Years Of Experience</label>
        <input type="text" name="experience" class="form-control" placeholder="Years Of Experience" required>
        </div>
        <div class="mb-2">
        <label class="form-label">Availability</label>
          <select class="form-control" id="availability" name="availability" required>
             <option selected>Available</option>
             <option value="Morning">Morning </option>
             <option value="Evening">Evening </option>
             <option value="Night">Night </option>
          </select>
        </div>
        <div class="mb-2">
        <label class="form-label">Specialization</label>
        <input type="text" name="specialization" class="form-control" placeholder="Specialization" required>
        </div>
        <div class="mb-4">
        <label class="form-label">Address</label>
        <input type="text" name="address" class="form-control" placeholder="Address" required>
        </div>
        <div class="text-center">
           <button type="submit" class="btn btn-success rounded-pill w-75">SUBMIT</button>
        </div>

    </form>

  </div>
</div>
{% endblock body %}