{% extends 'base.html' %}

{% block title %} Admin Page {% endblock title %}


{% block body %}

<div class="container mt-5">

   <div class="row">
       <div class="col-md-4"></div>

       <div class="col-md-4 p-4 rounded bg-secondary bg-secondary text-white border border-dark">

          <h5 class="p-2 bg-primary text-center rounded border border-white"; style="font-family:georgia">Admin Login</h5>
          <br>

           <form method="POST">
             <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="adminusername" placeholder="Username" required>
             </div>

             <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="adminpassword" placeholder="Password">
             </div>

             <div class="text-center">
                <button type="submit" class="w-75 btn btn-primary rounded-pill">LOGIN</button>
             </div>
           </form>

       </div>

       <div class="col-md-4"></div>
   </div>

</div>

{% endblock body %}
