{% extends 'navigationbar.html' %}

{% block title %} Home Page {% endblock title %}


{% block body %}



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="font-family:georgia">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="active" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="active" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='gym_1.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>- Mahatma Gandhi</h5>
        <h5>"Strength does not come from physical capacity. It comes from an indomitable will."</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='gym_2.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>- Henry David Thoreau</h5>
        <h5>"Success usually comes to those who are too busy to be looking for it."</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='gym_3.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>- Thomas Jefferson</h5>
        <h5>"If you want something you’ve never had, you must be willing to do something you’ve never done."</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock body %}
